@model IEnumerable<SkopMe.Core.Models.UserCategoryModel>

@{
    ViewBag.Title = "Create UserCategory";
}

<h2>Create UserCategory</h2>

<form class="form-createusercategory" method="post" action="Create">
<fieldset>
        <legend>User Profile Details</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.ElementAt<SkopMe.Core.Models.UserCategoryModel>(0).pId)
                @Html.TextBoxFor(m => m.ElementAt<SkopMe.Core.Models.UserCategoryModel>(0).pId)
                @Html.ValidationMessageFor(m => m.ElementAt<SkopMe.Core.Models.UserCategoryModel>(0).pId)
            </li>
            <li>
                @Html.LabelFor(m => m.ElementAt<SkopMe.Core.Models.UserCategoryModel>(0).Username)
                @Html.TextBoxFor(m => m.ElementAt<SkopMe.Core.Models.UserCategoryModel>(0).Username)
                @Html.ValidationMessageFor(m => m.ElementAt<SkopMe.Core.Models.UserCategoryModel>(0).Username)
            </li>
            <li>
                @Html.LabelFor(m => m.ElementAt<SkopMe.Core.Models.UserCategoryModel>(0).Categories)
                @Html.TextBoxFor(m => m.ElementAt<SkopMe.Core.Models.UserCategoryModel>(0).Categories)
                @Html.ValidationMessageFor(m => m.ElementAt<SkopMe.Core.Models.UserCategoryModel>(0).Categories)
            </li>
        </ol>
        <input type="submit" value="Create" />
    </fieldset>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}